@import "../../assets/style/varibales.module.scss";
@import "../../assets/style/main.module.scss";
@import "../../assets/style/responsive.module.scss";

.services {
  width: 100%;

  .black_bg {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: radial-gradient(32.57% 69.44% at 50% 53.15%,
        #2e3640 9.43%,
        #071221 100%);
    box-shadow: 10px 10px 120px 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 100px 135px;
    margin-bottom: 140px;
    margin-top: 140px;
    overflow: hidden;

    @include respond-to(desktop) {
      padding: 80px 100px;
      margin: 100px 0;
    }

    @include respond-to(pc) {
      padding: 80px 60px;
      margin: 100px 0 100px;
    }

    @include respond-to(lap) {
      padding: 50px 30px;
      margin: 100px 0 70px;
    }
   @include respond-to(sm-lap){
    margin: 120px 0 70px;
   }
    @include respond-to(tab-small) {
      padding: 50px 30px;
      margin: 70px 0 70px;
    }

    @include respond-to(small) {
      padding: 40px 15px;
      margin: 50px 0;
    }

    .heading {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;

      h2 {
        font-size: 52px;
        line-height: 64px;
        color: white;
        font-weight: 100;
        margin-bottom: 15px;

        @include respond-to(desktop) {
          font-size: 42px;
          line-height: 56px;
        }

        @include respond-to(lap) {
          font-size: 33px;
          line-height: 42px;
        }

        @include respond-to(mobile) {
          font-size: 24px;
          line-height: 42px;
        }

        @include respond-to(small) {
          font-size: 24px;
          line-height: 38px;
        }

        span {
          color: $primary;
          font-weight: 600;
        }
      }

      .discp {
        width: 84%;
        display: flex;
        place-content: center;
        padding: 10px 0 10px;
        @include respond-to(desktop){
          width: 83%;
        }
        @include respond-to(pc){
          width: 82%;
        }
        @include respond-to(mobile) {
          width: 95%;
          padding: 0px 0 10px;
        }

        p {
          font-weight: 100;
          font-size: 18px;
          line-height: 28px;
          letter-spacing: 1px;
          color: white;
          width: 100%;

          @include respond-to(desktop) {
            font-size: 14px;
            line-height: 22px;
          }

          @include respond-to(tab-small) {
            width: 100%;
          }

          @include respond-to(mobile) {
            font-size: 13px;
            line-height: 18px;
          }
        }
      }
    }

    .service_card {
      .card_box {
        display: flex;
        flex-direction: row;
        background: #02091242;
        border-radius: 8px;

        @include respond-to(tab) {
          margin-bottom: 1rem;
        }

        @include respond-to(small) {
          flex-wrap: wrap;
        }

        figure {
          width: min(50%, 100%);
          max-height: 450px;
          min-height: 445px;
          @include respond-to(desktop) {
            max-height: 450px;
            min-height: 445px;
          }

          @include respond-to(lap) {
            max-height: 370px;
            min-height: 365px;
          }
          @include respond-to(tab){
            width: 33%;
            max-height: 340px;
            min-height: 330px;
          }
          @include respond-to(tab-small){
            width: 45%;
          }
          @include respond-to(mobile) {
            width: min(50%, 100%);
          }

          @include respond-to(small) {
            width: 100%;
          }

          img {
            border-radius: 8px;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        figcaption {
          padding: 30px;
          word-break: break-word;
          overflow-wrap: break-word;
          width: min(100%, 50%);

         @include respond-to(lap) {
            padding: 15px;
          }

          @include respond-to(small) {
            width: 100%;
            padding: 25px 0px;
          }

          span {
            color: #777777;
            font-size: 14px;
            line-height: 16px;
            text-transform: uppercase;
            font-weight: 400;
            padding-bottom: 10px;
          }

          h3 {
            font-size: 32px;
            line-height: 38px;
            color: $primary;
            font-weight: 600;
            padding-bottom: 15px;
            letter-spacing: 1px;

            @include respond-to(desktop) {
              font-size: 24px;
            }

            @include respond-to(pc) {
              font-size: 22px;
            }

            @include respond-to(mobile) {
              font-size: 18px;
              line-height: 28px;
            }
          }

          .content {
            display:flex;
            flex-wrap: wrap;
            width: 85%;
           @include  respond-to(desktop){
             width: 100%;
           }
           @include respond-to(mobile){
             width: 100%;
           }
            p {

              font-size: 16px;
              line-height: 22px;
              color: white;
              @include respond-to(desktop) {
                font-size: 14px;
              }
              @include respond-to(lap) {
                font-size: 14px;
                line-height: 22px;
              }
              @include respond-to(sm-lap){
                font-size: 13px;
                line-height: 20px;
              }

              @include respond-to(small) {
                font-size: 14px;
                line-height: 22px;
              }

              &:nth-child(2) {
                margin-top: 25px;

                @include respond-to(lap) {
                  margin-top: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}