@import "../../assets/style/varibales.module.scss";
@import "../../assets/style/main.module.scss";
@import "../../assets/style/responsive.module.scss";

.loader {
  width: 100%;
  min-height: 650px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @include respond-to(tab) {
    min-height: 500px;
  }

  @include respond-to(mobile) {
    min-height: 450px;
  }

  .loader_wrap {
    padding: 0 135px;

    @include respond-to(desktop) {
      padding: 0px 100px;
    }

    @include respond-to(lap) {
      padding: 0px 30px;
    }

    @include respond-to(small) {
      padding: 0px 15px;
    }

    .img_plane {
      animation-duration: 5s;
      animation-name: anim-plane;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      display: block;
      margin: 0 auto;
      transform: translateY(-30px);
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    @keyframes anim-plane {
      to {
        transform: translateY(0px);
      }
    }

    .progress {
      background: #fffefe3d;
      border-radius: 4px;
      height: 36px;
      width: 100%;
      position: relative;
    }

    .label {
      position: absolute;
      left: 0;
      top: 0;
    }

    .progressdone {
      background: $primary;
      border-radius: 4px;
      color: $font-color;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      width: 0;
      opacity: 0;
      padding-right: 10px;
      transition: 1s ease .8s;
      padding-left: 10px;
      margin-top: 70px;
      font-size: 14px;
      font-weight: 900;
    }

    .pg_title {
      font-size: 10px;
      font-weight: 800;
    }
  }

}