@import "../../assets/style/varibales.module.scss";
@import "../../assets/style/main.module.scss";
@import "../../assets/style/responsive.module.scss";

.search_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .serch_bar {
    background-color: white;
    position: absolute;
    bottom: -45px;
    display: flex;
    flex-direction: row;
    max-width: 1210px;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    height: 100px;
    padding-right: 15px;

    @include respond-to(pc) {
      height: 90px;
    }

    @include respond-to(lap) {
      height: 80px;
    }

    @include respond-to(tab) {
      flex-direction: column;
      height: auto;
      box-shadow: inherit;
      padding: 1rem 1rem;
      bottom: -65px;
      width: 90%;
    }

    @include respond-to(tab-small) {
      width: 100%;
      position: relative;
      bottom: 0;
      margin-top: 1rem;
      padding: 1rem 0.5rem;
    }

    @include respond-to(small) {
      flex-direction: column;

    }

    .location {
      display: flex;
      align-items: center;
      height: 100px;
      padding: 0 32px;
      box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.15);
      border-radius: 12px;
      @include respond-to(desktop){
        padding: 0 20px;
      }
      @include respond-to(pc) {
        height: 90px;
      }

      @include respond-to(lap) {
        padding: 0 15px;
        height: 80px;
      }

      @include respond-to(tab) {
        padding: 0 0px;
        height: auto;
        box-shadow: inherit;
        margin-bottom: 7px;
      }

      p {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        color: $font-color;
        font-size: 18px;
        font-weight: 500;
        border: inherit;
        background: url(../../assets/images/location.svg) no-repeat left center;
        padding-left: 54px;
       @include respond-to(desktop){
         font-size: 16px;
       }
        @include respond-to(pc) {
          font-size: 14px;
          background-size: 32px;
        }

        @include respond-to(lap) {
          background-size: 26px;
          padding-left: 40px;
        }

        @include respond-to(tab) {
          background-size: 22px;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          padding-left: 35px;
        }
        @include respond-to(mobile){
          padding-right: 0px;
        }
      }
    }

    .form_group {
      display: flex;
      flex-direction: row;
      margin: 0px;
      align-items: center;

      @include respond-to(tab-small) {
        flex-direction: column;
      }

      @include respond-to(small) {
        flex-direction: column;
      }

      :global {
        .ant-form-item {
          margin-bottom: 0px;
        }
      }

      .select_box {
        padding: 0 40px;
        display: flex;
        gap: 30px;
        position: relative;
        @include respond-to(desktop){
          gap: 15px;
          padding:0 15px;
        }

        @include respond-to(lap) {
          padding: 0 10px;
          gap: 10px;
        }

        @include respond-to(tab) {
          padding: 0 0px;
          width: 100%;
        }

        @include respond-to(tab-small) {
          flex-wrap: wrap;
        }

        @include respond-to(mobile) {
          gap: 10px;
          width: 100%;
        }

        .serch_box {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          gap: 30px;
          position: relative;

          @include respond-to(tab) {
            width: 50%;
          }

          @include respond-to(tab-small) {
            width: 100%;
          }

          label {
            position: absolute;
            left: 12px;
            top: 10px;
            z-index: 9;
            font-size: 12px;
            color: #777777;
            text-transform: capitalize;

            @include respond-to(tab-small) {
              top: 5px;
            }
          }

          :global {
            .ant-select {
              min-width: 285px;

              @include respond-to(lap) {
                min-width: 240px;
              }

              @include respond-to(small) {
                min-width: 100%;
              }
            
            }

            input {
              width: 75%;
              padding-right: 10px;
              height: 60px;
              cursor: pointer;
              padding-top: 13px;
              font-weight: 600;
              font-size: 18px;
              line-height: 21px;
              color: $font-color;
              @include respond-to(lap) {
                font-size: 15px;
              }
              @include respond-to(tab-small) {
                font-size: 14px;
                padding-top: 14px;
              }
            }

            .ant-select-selector {
              height: 60px;
              background-color: #f6f6f6;
              border-radius: 8px;
              position: relative;
              border: inherit;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              padding: 0 8px 0 12px;

              @include respond-to(tab-small) {
                height: 50px;
              }

              &::after {
                width: 50px;
                height: 50px;
                right: 5px;
                background: #ffd420 url(../../assets/images/down_arrow.svg) no-repeat center;
                border-radius: 6px;
                visibility: visible;
                cursor:pointer;
                z-index: 999;

                @include respond-to(tab-small) {
                  width: 40px;
                  height: 40px;
                }
              }
          
            }
            .ant-select-selection-placeholder{
              padding-top: 13px;
              font-weight: 600;
              font-size: 18px;
              line-height: 21px;
              color: $font-color;
              @include respond-to(lap) {
                font-size: 15px;
              }
              @include respond-to(tab-small) {
                font-size: 14px;
                padding-top: 14px;
              }
            }
            .ant-select-arrow {
              display: none !important;
            }

            .ant-select-single.ant-select-show-arrow .ant-select-selection-item {
              padding-top: 13px;
              font-weight: 700;
              font-size: 18px;
              line-height: 21px;
              color: $font-color;
              @include respond-to(lap) {
                font-size: 15px;
              }
              @include respond-to(tab-small) {
                font-size: 14px;
                padding-top: 14px;
              }
            
            }
          }

          .ant-select-arrow {
            background: #ffd420;
          }
        }
      }

      .btn_submit {
        display: flex;

        @include respond-to(tab) {
          padding-left: 0;
          margin-left: 10px;
        }

        @include respond-to(tab-small) {
          padding-left: 0rem;
          margin-top: 0.9rem;
          width: 100%;
          display: flex;
          place-content: center;
          margin: 15px 0 0;
        }

        button {
          width: 70px;
          height: 70px;
          transition: 0.3s;
          filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.25));
          background: #ffd420 url(../../assets/images/btn-black.svg) no-repeat center;
          border-radius: 8px;
          border: inherit;
          cursor: pointer;
          overflow: hidden;
          text-indent: -999px;
          white-space: nowrap;

          @include respond-to(desktop) {
            width: 60px;
            height: 60px;
          }

          @include respond-to(tab-small) {
            width: 98%;
            height: 50px;
            text-indent: inherit;
            background: #ffd420;
            font-size: 15px;
            font-weight: 900;
            filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
          }

          &:hover {
            background: $dark url(../../assets/images/btn-white.svg) no-repeat center;

            @include respond-to(tab-small) {
              background: $dark;
              color: white;
            }
          }
        }
      }
    }
  }
}