@import "../../assets/style/varibales.module.scss";
@import "../../assets/style/main.module.scss";
@import "../../assets/style/responsive.module.scss";

.about {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;

  .black_bg {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: url(../../assets/images/about_bg.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
    box-shadow: 10px 10px 120px 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 100px 135px;
    margin-bottom: 140px;
    position: relative;
    @include respond-to(desktop) {
      padding: 80px 100px;
      margin-bottom: 100px;
    }
    @include respond-to(lap) {
      padding: 50px 30px;
      margin-bottom: 100px;
      margin-bottom: 70px;
    }
    @include respond-to(tab) {
      background-position-x: 65%;
      background-attachment: inherit;
    }
    @include respond-to(small) {
      padding: 40px 15px;
      margin-bottom: 50px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      left: 0;
      top: 0;
      background: linear-gradient(
        270.05deg,
        rgba(46, 54, 64, 0) 6.83%,
        rgba(7, 18, 33, 0.9) 99.99%
      );

      @include respond-to(mobile) {
        background: linear-gradient(
          247deg,
          rgba(46, 54, 64, 0) 6.83%,
          rgba(7, 18, 33, 0.9) 99.99%
        );
      }
    }

    .content_wrap {
      position: relative;
      z-index: 999;
    }

    .heading {
      h2 {
        color: white;

        span {
          color: $primary;
        }
      }
    }

    .abt_cont {
      width: 100%;
      padding-right: 10rem;

      @include respond-to(desktop) {
        padding-right: 3rem;
      }

      @include respond-to(lap) {
        padding-right: 5rem;
      }

      @include respond-to(tab) {
        padding-right: 0px;
      }

      p {
        color: white;
        font-weight: 100;
        font-size: 18px;
        line-height: 28px;

        @include respond-to(lap) {
          font-size: 15px;
          line-height: 26px;
        }

        @include respond-to(mobile) {
          font-size: 13px;
          line-height: 21px;
          font-weight: 400;
        }

        strong {
          color: $primary;
          font-weight: 500;
        }
      }
    }

    .list_box {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding-top: 70px;

      @include respond-to(desktop) {
        padding-top: 55px;
      }

      @include respond-to(lap) {
        padding-top: 45px;
      }

      @include respond-to(mobile) {
        padding-top: 25px;
      }

      @include respond-to(small) {
        padding-top: 25px;
      }

      .count_box {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .num {
          display: flex;
          justify-content: center;
          span{
            margin: 0px;
          }
          .plus{
            margin:0 10px 0 0;
            @include respond-to(tab-small){
              margin:0 6px 0 0;
            }
            @include respond-to(mobile){
              margin:0 4px 0 0;
            }
          }
        }

        .number_title {
          display: flex;
          align-items: flex-start;
          padding-top: 20px;
          justify-content: center;
          height: 100%;
          @include respond-to(mobile) {
            padding-top: 10px;
          }

          @include respond-to(small) {
            padding-top: 5px;
          }
        }
        &:nth-child(1) {
          padding-right: 35px;
          @include respond-to(desktop) {
            padding-right: 20px;
            @include respond-to(mobile) {
              padding-right: 15px;
            }
          }
        }

        &:nth-child(2) {
          border-left: 1px solid rgba(255, 255, 255, 0.3);
          border-right: 1px solid rgba(255, 255, 255, 0.3);
          padding: 0 35px;

          @include respond-to(desktop) {
            padding: 0 20px;
          }

          @include respond-to(mobile) {
            padding: 0 15px;
          }
        }

        &:nth-child(3) {
          padding-left: 35px;

          @include respond-to(desktop) {
            padding-left: 20px;
          }

          @include respond-to(mobile) {
            padding-left: 15px;
          }
        }

        h2 {
          color: $primary;
          font-weight: 600;
          letter-spacing: -0.05em;
          font-size: 72px;
          line-height: 66px;

          @include respond-to(desktop) {
            font-size: 52px;
            line-height: 33px;
          }

          @include respond-to(lap) {
            font-size: 46px;
            line-height: 25px;
          }

          @include respond-to(mobile) {
            font-size: 32px;
            line-height: 38px;
          }

          @include respond-to(small) {
            font-size: 23px;
            line-height: 33px;
          }
        }

        h3 {
          color: white;
          font-weight: 500;
          font-size: 21px;
          line-height: 28px;
          text-transform: uppercase;

          @include respond-to(desktop) {
            font-size: 16px;
            line-height: 22px;
          }

          @include respond-to(mobile) {
            font-size: 13px;
            line-height: 22px;
          }

          @include respond-to(small) {
            font-size: 11px;
            line-height: 18px;
          }
        }
      }
    }
  }
}
