#map_canvas path {
    stroke-width: 1;
    /* control the countries borders width */
    stroke: #02070c;
    /* choose a color for the border */
}

#map_canvas {
    height: 800px;
    background-color: salmon;
}

svg path {
    stroke: #717982;
}